<div class="table-wrapper text-left">  
  <mat-paginator [length]="totalCount"
              [pageIndex]="pageIndex"
              [pageSize]="pageSize"
              [pageSizeOptions]="[2, 4, 5, 10]"
              (page)="changePage($event)">
  </mat-paginator>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">   

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Идентификатор </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Заголовок </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Priority Column -->
    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef> Приоритет </th>
      <td mat-cell *matCellDef="let element"> {{element.priority}} </td>
    </ng-container>

    <!-- ExecutionDate Column -->
    <ng-container matColumnDef="executionDate">
      <th mat-header-cell *matHeaderCellDef> Дата выполнения </th>
      <td mat-cell *matCellDef="let element"> {{element.executionDate}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Действия </th>
      <td mat-cell *matCellDef="let element" class="actions">
        <a mat-raised-button [routerLink]="['edit', element.id]">Редактировать</a>
        <a mat-raised-button [routerLink]="['display', element.id]">
          <i class="material-icons">launch</i>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <a mat-raised-button [routerLink]="['add']" id="add-note" class="float-right">Новая заметка</a>
</div>