.table-wrapper {
    margin: 0 auto;
    width: 50%;
    table {
        width: 100%;
        th, td {
            text-align: center;
        }
        .actions > a {
            margin: 5px;
        }
    }
    #add-note {
        margin: 10px 0;
    }
}  